.play-container{
    margin: auto;
    width: 85%;
    display: flex;
    padding-top: 20px;
}
.video{
    margin-top: 60px;
}
@media only screen and (max-width: 1200px) {
    .play-container{
        margin: auto;
        flex-direction: column;
    }
    .video{
        width: 100%;
    }
}
@media (max-width: 720px) {
    .main-container {
       width: 643px;
       margin: auto;
   }
   }

@media only screen and (max-width: 520px) {
 .play-container{
    width: fit-content;
 }
 .main-container {
    width: 643px;
    margin: auto;
}
}